<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragment :: head">
</head>
<body class="bk">
<header th:replace="fragment :: header"></header>
<main>
    <p>
        MOJU
    </p>
    <P>Application For Create Your Own Account And Posts</P>
    <p>Every day, millions of people utilize social media for communication and networking. Social media has the
        potential to be a valuable tool in every company's toolbox. However, without proper training or knowledge, it
        can quickly become a danger to your brand.
    <p>The following article provides 5 actionable tips on how businesses should effectively use social media to
        enhance their marketing strategy.</p>
    <p>Write an introduction to an informative and factual blog post titled "Royalty Free Music".
        For information about royalty free music, go here: https://www.royaltyfreemusiconline.</p>
    <p>Every day, millions of people utilize social media for communication and networking. Social media has the
        potential to be a valuable tool in every company's toolbox. However, without proper training or knowledge, it
        can quickly become a danger to your brand.
    <p>The following article provides 5 actionable tips on how businesses should effectively use social media to
        enhance their marketing strategy.</p>
    <p>Write an introduction to an informative and factual blog post titled "Royalty Free Music".
        For information about royalty free music, go here: https://www.royaltyfreemusiconline.</p>
    <p>Write an introduction to an informative and factual blog post titled "Royalty Free Music".
        For information about royalty free music, go here: https://www.royaltyfreemusiconline.</p>
</main>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>